.map-body {
    display: flex;
    width: 100vw;
    height: 80vh;
    font-family: "catFont";

}


.map-display {
    flex: 1;
    height: 85vh;

}

.map-left-bar {
    width: 440px;
    /* 패널 너비 설정 */
    height: 85vh;
    /* 화면 높이에 맞춤 */
    background-color: #f8f9fa;
    /* 패널 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 */
    border-right: 1px solid #ddd;
    /* 오른쪽 테두리 */
    display: flex;
    flex-direction: column;

    overflow: hidden;
    /* 스크롤 가능 */
}

.map-left-bar-top {
    height: 80px;
    /* `left-bar`의 전체 높이를 차지 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 상단 정렬 */
    /* 하단 여백 */
    padding: 16px;
    background-color: #FFDAB9;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 48px;

}


.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    /* 연한 배경색 */
    padding: 8px;
    border: 1px solid #ddd;
    /* 테두리 */
    border-radius: 4px;
    /* 각진 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 부드러운 그림자 효과 */
    width: 96%;
    /* 검색창이 상단 전체를 채우게 */
    position: sticky;
    /* 상단에 고정 */
    top: 0;
    /* 화면 상단에 고정 */
    z-index: 10;
    /* 다른 요소보다 위에 표시되도록 */

}

.search-bar {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    /* 검색창 내부 색상 */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
    /* 포커스 시 테두리 효과 */
}

.search-button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.map-left-bar-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 28px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.menu-item:hover {
    background-color: #FFCC99;
    color: beige;
}

.menu-item.active {
    background-color: #FFCC99;
    font-weight: bold;
}

.menu-item-detail {
    background-color: white;
    border: 1px solid #ddd;
    flex-direction: column;
    transition: background-color 0.3s ease;
    color: black;
    text-align: center;
    height: 100%;
    display: flex;

}

.menu-item-none {
    background-color: #f1f3f5;
    flex-grow: 1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.map-right-bar {
    width: 16%;
    height: 1100px;
    background-color: blue;
    border-left: 1px solid #ccc;
}

.search-result {
    background-color: white;
    margin-bottom: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ced4da;
    overflow-y: auto;
}

.search-result-margin {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.search-result-list {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 16px;
    text-align: start;
}

.search-result-title {
    font-size: 30px;
    margin-bottom: 2px;
    line-height: 0.8;
}

.search-result-content {
    font-size: 22px;
    margin-left: 4px;
}

.search-result-count {
    width: 49%;
    text-align: start;
    padding-top: 8px;
    margin-left: 8px;
    font-size: 22px;
}

.search-result-set {
    padding-top: 8px;
    width: 49%;
    font-size: 20px;
    text-align: right;
}

.search-result-area {
    /* border: 1px solid #000; */

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 반투명 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 팝업 내용 */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* 닫기 버튼 */
.close-button {
    background-color: #ff3b3b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    background-color: #ff0000;
}

.none {
    height: 16px;

}


.bubble {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 8px;

    bottom: 180px;
    right: 38px;

    background: #FFFFFF;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    border: #7F7F7F solid 2px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 26px 34px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -26px;
    left: 163px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 27px 35px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -29px;
    left: 162px;
}

.xbox {
    background: url(../../../assets/img/xbox.png);
    height: 26px;
    width: 26px;
    background-size: cover;
    background-position: center;
    border: none;
    right: px;
    position: relative;
    float: right;
}


.categories {
    display: flex;
    /* 가로로 정렬 */
    justify-content: space-around;
    /* 항목 간 간격 */
    gap: 10px;
    /* 항목 간 여백 */
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    text-align: center;
}

.category-item {
    position: relative;
    /* ::after 가상 요소의 기준 */
    display: inline-block;
    /* 글씨 크기에 맞게 조정 */
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    color: #333;
    /* 기본 글자 색상 */
    transition: all 0.3s ease;
}

.category-item::after {
    content: "";
    /* 가상 요소 추가 */
    position: absolute;
    left: 0;
    bottom: 0;
    /* 텍스트 아래 */
    width: 0;
    /* 초기 너비 */
    height: 2px;
    /* 선 두께 */
    background-color: transparent;
    /* 초기 상태는 투명 */
    transition: all 0.3s ease;
}

.category-item.selected {
    color: #007bff;
    /* 선택된 글씨 색상 */
}

.category-item.selected::after {
    width: 100%;
    /* 글씨 아래 전체 선 */
    background-color: #007bff;
    /* 글씨 색상과 동일한 선 색상 */
}

.search-result-checkbox {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
    position: relative;
    top: 3px;

}

.search-result-checkbox:checked {
    background-color: #007bff;
    border-color: #0056b3;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.page-number.selected {
    background-color: #4CAF50;
    color: white;
}

.page-number:hover {
    background-color: #ddd;
}


.favorite-btn {
    font-size: 1.5rem;
    color: gray;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-btn.filled {
    color: gold;
    /* 즐겨찾기된 상태일 때 금색으로 변합니다 */
}

.favorite-btn:hover {
    transform: scale(1.2);
    /* 마우스를 올렸을 때 크기 증가 */
}


.pet-image {
    width: 100px;
    height: 100px;
    border-radius: 16px;
}