body {
    margin: 0;
    font-family: "studyGood";
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/* 네비게이션 바 스타일 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 20px 70px;
    position: relative;
    z-index: 1000;
    height: 100px;
}

/* 로고 스타일 */
.navbar__logo {
    font-size: 35px;
    color: violet;
    display: flex;
    align-items: center;
}

.navbar__icon {
    width: 200px;
    height: 120px;
    margin-right: 8px;
    object-fit: fill;
}

/* 메뉴 스타일 */
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    gap: 50px;
}

.navbar__item {
    position: relative;
    padding: 8px 12px;
    cursor: pointer;
    color: #37474f;
    font-weight: bold;
    user-select: none;
    /* 텍스트 선택 방지 */
    font-size: 50px;
}

.navbar__item:hover {
    background-color: #cfd8dc;
}

/* 드롭다운 메뉴 숨기기 */
.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    z-index: 1000;
    border-radius: 4px;
}


/* 부모 요소에 호버 시 드롭다운 메뉴 표시 */
.navbar__item:hover .dropdown__menu {
    display: block;
}

/* 드롭다운 메뉴 항목 스타일 */
.dropdown__menu li {
    padding: 20px 30px;
    font-size: 35px;
    text-align: center;
}

.dropdown__menu li:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* 로그인 링크 스타일 */
.navbar__links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
    margin: 0;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__links li a {
    color: teal;
    font-size: 20px;
    cursor: pointer;
}