body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('./assets/img/cat_foot.png'), auto; /* 기본 커서 */
}

/* 버튼 위에도 동일한 커서 적용 */
button {
  cursor: url('./assets/img/cat_foot.png'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 폰트 정의 */
@font-face {
  font-family: 'studyGood'; 
  src: url('./assets//fonts/studyGood.ttf');
}